@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
	html {
		tab-size: 2;
	}

	pre {
		white-space: pre-wrap;
	}

	#hero-image {
		background-image: url("../public/hero.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
}
